* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(128, 21, 21);
  text-align: center;
  width: 90vw;
  margin: auto;
}

h1, p {
  color: rgb(255, 170, 170);
  animation-name: title;
  animation-duration: 4s;
}

@keyframes title {
  from {color: rgb(255, 170, 170);}
  to {color: white;}
}

header {
  margin-top: 5vh;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 2vw;
}

#intro {
  margin-top: 40vh;
}

form {
  margin: auto;
  margin-top: 40vh;
}

form p, button {
  margin-top: 3vh;
}

label {
  font-weight: bold;
}